openapi: 3.0.1
info:
  title: MoneyLion Assessment API
  version: v0.0.1
servers:
- url: http://ec2-13-228-30-199.ap-southeast-1.compute.amazonaws.com
  description: Online server URL
paths:
  /api/feature:
    get:
      tags:
      - Feature Controller
      operationId: canUserAccessFeature
      parameters:
      - name: email
        in: query
        required: true
        schema:
          type: string
      - name: featureName
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureAccessDto'
    put:
      tags:
      - Feature Controller
      operationId: saveFeature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeatureRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
    post:
      tags:
      - Feature Controller
      operationId: assignFeature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureAssignRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
        "304":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /api/user:
    post:
      tags:
      - User Controller
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: object
  /api/auth/login:
    post:
      tags:
      - Authorization Controller
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TokenDto'
  /api/feature/{name}:
    get:
      tags:
      - Feature Controller
      operationId: findFeatureByName
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FeatureDto'
  /api/feature/features:
    get:
      tags:
      - Feature Controller
      operationId: listFeatures
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeatureDto'
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT 
  schemas:
    TokenDto:
      type: object
      properties:
        token:
          maxLength: 255
          minLength: 0
          type: string
    CreateFeatureRequest:
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 0
          type: string
    CreateUserRequest:
      type: object
      properties:
        username:
          maxLength: 50
          minLength: 0
          type: string
        password:
          maxLength: 500
          minLength: 0
          type: string
    FeatureAssignRequest:
      type: object
      properties:
        featureName:
          maxLength: 255
          minLength: 0
          type: string
        email:
          maxLength: 50
          minLength: 0
          type: string
        enable:
          type: boolean
    AuthRequest:
      type: object
      properties:
        username:
          maxLength: 50
          minLength: 0
          type: string
        password:
          type: string
    FeatureDto:
      type: object
      properties:
        name:
          maxLength: 255
          minLength: 0
          type: string
    FeatureAccessDto:
      type: object
      properties:
        canAccess:
          type: boolean
